/* Contenedor general que usa Flexbox */
.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}



/* Contenedor del contenido principal */
.content {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  /* Altura completa de la pantalla */
  justify-content: space-between;
  overflow-y: hidden;
  /* Evita el scroll en el contenedor principal */
}

/* Feed que ocupará la mayor parte del espacio */
.feed {
  flex: 2;
  /* Reduce el espacio del feed */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Espacio entre posts */
  overflow-y: auto;
  /* Permite el scroll dentro del feed */
  padding-right: 10px;
  /* Añade un poco de espacio para evitar que el scroll solape el contenido */
  height: 100vh;
  /* Limita la altura del feed */
  box-sizing: border-box;
}

/* Notificaciones */
.notifications {
  flex: 1;
  background-color: #f9f9f9;
  padding-left: 20px;
  border-left: 1px solid #ddd;
  height: 100vh;
  /* Altura completa */
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 20px;
}

.navbar h2 {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  color: white;
}

.sidebar h2 {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar i {
  color: black; /* Cambia el color de los íconos a negro */
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.icono {
  margin-right: 10px;
}

body {
  background-color: #fff;
}

/* Barra de navegación a la izquierda */
.sidebar {
  flex: 0 0 250px;
  /* Fija el ancho de la barra a 250px */
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
  /* Ocupa toda la altura */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  /* Se mantiene visible al hacer scroll */
  margin-top: 50px;
}